<div class="header">
   
</div>
<div class="form">
   <%= form_for @products do |f| %>
       <div class="center">
           <div class="Bold">
   	       <%= f.label :title %>
           </div>
           <div>
               <%= f.text_field :title %>
           </div>
            <div class="Bold">
                  <%= f.label :description %>
            </div>
             <div>
   	           <%= f.text_field :description %>
            </div>
             <div class="Bold">
   	           <%= f.label :category_id %>
            </div>
             <div>
   	           <%= select_tag(:category_id, options_for_select(@categories), :prompt=>'Select one!') %>
            </div>
            <div class="Bold">
   	           <%= f.submit "Create product", class: "btn btn-primary" %>
            </div>
   <% end %>
         </div>
</div>

<div class="align">
  <%= image_tag "2753527_370.jpg"%>
</div>
 
